<%-include("./partials/headers")-%>
<head>
	<title>Form</title>
</head>
<body>
    <form action="/search/formsave" method="POST">
        <label>
            <span> title: </span>
            <input type="text" name="title" value="">
        </label>
        <label>
            <span> artist: </span>
            <input type="text" name="artist" value="">
        </label>
        <label>
            <span> genre: </span>
            <input type="text" name="genre" value="">
        </label>
        <input type="submit" value="submit">
    </form>
</body>
</html>