<%-include("./partials/headers")-%>
<head>
	<title>Form</title>
</head>
<body>
    <div class="p-6">
        <!-- Welcome part -->
        <div class="font-body text-3xl">
            Welcom to <span class="text-cyan-800 font-primary text-4xl">Songs Needed</span>
        </div>

        <!-- Search part -->
        <div class="py-4 text-2xl">
            Type to search
        </div>
        <div>
            <form action="/search/formsave" method="POST">
                <label class="mr-5">
                    <span class="text-xl"> Title: </span>
                    <input class="ring-1 ring-black rounded-lg px-2" type="text" name="title" value="">
                </label>
                <label class="mr-5">
                    <span class="text-xl"> Artist: </span>
                    <input class="ring-1 ring-black rounded-lg px-2" type="text" name="artist" value="">
                </label>
                <label class="mr-5">
                    <span class="text-xl"> Genre: </span>
                    <input class="ring-1 ring-black rounded-lg px-2" type="text" name="genre" value="">
                </label>
                <input class="ring-1 ring-black bg-cyan-800 text-white text-xl px-2 rounded-lg" type="submit" value="search">
            </form>
        </div>

        <!-- Insert button part-->
        <div class="text-lg pt-5">
            Want to <span class="text-cyan-600">insert</span> more song? click 
            <a href="/insert"><input class="hover:underline text-cyan-600" type="button" value="here"></a>
        </div>
    </div>
</body>
</html>