<%-include("./partials/headers")-%>
<head>
	<title>Form</title>
</head>
<body>
    <div class="p-6">
        <div class="font-body text-3xl">
            Welcom to <span class="text-cyan-800 font-primary text-4xl">Songs Nedded</span>
        </div>
        <div class="py-4 text-2xl">
            Type to search
        </div>
        <div>
            <form action="/search/formsave" method="POST">
                <label>
                    <span class="text-xl"> Title: </span>
                    <input class="ring-1 ring-black rounded-lg" type="text" name="title" value="">
                </label>
                <label>
                    <span class="text-xl"> Artist: </span>
                    <input class="ring-1 ring-black rounded-lg" type="text" name="artist" value="">
                </label>
                <label>
                    <span class="text-xl"> Genre: </span>
                    <input class="ring-1 ring-black rounded-lg" type="text" name="genre" value="">
                </label>
                <input class="ring-1 ring-black bg-cyan-800 text-white text-xl px-2 rounded-lg" type="submit" value="search">
            </form>
        </div>
    </div>
</body>
</html>